.center {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.light-gray-bg {
	background-color: #5f5f5f;
}

.normal-font {
	font-weight: normal;
}

.float-left {
	float: left;
}

.row{
	display: inline-block;
}

.row-text{
	display: inline;
}