@main("Login Page") {
   <div>
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }
   
	<div class="uk-container center">
		<img alt="Portal Do Leite" src="@routes.Assets.at("images/logo.png")">
		<div class="uk-panel-box"> 
			<form class="uk-form" method="post" action="/login">
				<div class="uk-panel-title">Bem-vindo ao Portal Do Leite</div>
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-user"></i>
						<input type="text" name="login" placeholder="Usuário" class="form-control">
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-key"></i>
						<input type="password" name="pass" placeholder="Senha">
					</div>
				</div>
				<div class="uk-form-row">
					<button class="uk-button uk-button-primary" type="submit">Login</button>
				</div>
			</div>
		</div>
		<div class="center">
			<br><p>Ainda não possui um cadastro? <a data-uk-modal="{target:'#cadastro-modal'}">Cadastre-se</a> agora.</p>
		</div>
	</div>
	</form>

	<div id="cadastro-modal" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header" style="background-color:#5f5f5f"><h2>Cadastro</h2></div>
			<div class="uk-container uk-container-center">
			<form class="uk-form center" method="post" action="/registrar">
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-user"></i>
						<input type="text" name="nome" placeholder="Nome" ng-model="nome"
							class="form-control" required>
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-envelope"></i>
						<input type="email" name="email" placeholder="Email" ng-model="email"
							class="form-control" required>
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-user-secret"></i>
						<input type="text" name="login" placeholder="Login" ng-model="login" class="form-control" required>
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-icon">
						<i class="uk-icon-key"></i>
						<input type="password" name="pass" placeholder="Password" ng-model="password" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="uk-modal-footer uk-text-right" style="background-color:#5f5f5f">
				<button class="uk-button uk-button-primary" type="submit" ng-disabled="!nome || !login || !email || !password">Registrar</button>
			</div>
			</form>
		</div>
	</div>
}
