@(form: Form[User])

@main("Register Page") {

   <div class="col-sm-4 col-sm-offset-4">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }

   @helper.form(routes.Register.register) {
	   <h1 class="text-center">Registrar</h1>
	
	   <p>
	       <input type="text" name="nome" placeholder="Nome" ng-model="nome" value='@form("nome").value'
                class="form-control" required>
	   </p>
	   <p>
	       <input type="email" name="email" placeholder="Email" ng-model="email" value='@form("email").value'
                   class="form-control" required>
	   </p>
	   <p>
	       <input type="password" name="pass" placeholder="Password" ng-model="password" class="form-control" required>
	   </p>
	   <div>
	       <button class="btn btn-primary" type="submit" ng-disabled="!nome || !email || !password">Registrar</button>
	       <a class="btn btn-info" style="float:right;" href="/login"> Login</a>
	   </div>
	}
    </div>
}
